@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body {
    background-color: rgb(174, 210, 125);
    .header {
        font-family: 'Alfa Slab One', cursive;
        color: #074907;
        text-align: center;
    }
    .score{
        font-size: 25px;
        color: #074907;
        text-align: center;
        font-weight: bold;
    }
    .canvas-container {
        margin-top: 30px;
        display: flex;
        justify-content: center;

        .game-area {
            border: 5px solid #074907;
            border-radius: 2%;
            width: 600px;
            height: 300px;
        }

    }
    .restart-container{
        display: flex;
        justify-content: center;
        .restart-button{
            background-color: #bede6c;
            color: rgb(10, 35, 5);
            padding: 10px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            margin-top: 10px;
            border-radius: 20%;
        }
    }
    
    .arrow-container {
        margin-top: 10px;
        text-align: center;
        .arrow-button {
            background-color: #0e5a34;
            color: white;
            padding: 10px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            margin: 2px;
            border-radius: 30%;
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
    .canvas-container {
        .game-area {
            width: 300px;
        }
    }
   

}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .canvas-container {
        .game-area {
            width: 100px;
        }
    }
   
}